/* roboto-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/roboto-v30-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* roboto-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto-v30-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* root selector color */
*:focus {
  outline: 2px dotted var(--green-color);
  outline-offset: 3px;
}
:root {
  --radio: #f7fafc;
  --label-login: #4a5568;
  --join: #2b6cb0;
  --text: #2d3748;
  --forgot: #2c5282;
  --title: #1a202c;
  --border-input: #e8e8e8;
  --login-btn: #04c35c;
  --sign-in: #2d3748;
}

html {
  height: 100%;
  font-size: 62.5%;
}
body {
  font-family: "Roboto";
  font-size: 1.6rem;
  scroll-behavior: smooth;
}
*::after,
*::before,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 3rem;
}

.login-view {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-view__left {
  width: 720px;
}
.login-view-left-img {
}
.login-view__right {
  width: 720px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-view__right-page {
  display: flex;
  flex-direction: column;
}
.right-page__text {
  color: var(--text, #2d3748);
  font-size: 1.6rem;
  font-family: "Roboto";
}
.right-page__title {
  color: var(--title, #1a202c);
  font-size: 3rem;
  font-family: "Roboto";
  font-weight: 700;
}
.right-page__form {
}
.right-page__email {
}
.right-page__label {
}
.right-page__label-text {
  color: var(--label-login, #4a5568);
  font-size: 1.6rem;
  font-family: "Roboto";
}
.right-page__input-email {
}
.right-page__password {
}
.right-page__input-password {
}
.right-page-login {
}
.right-page__remember {
}
.right-page__remember-label {
}
.right-page__remember-radio {
}
.right-page__remember-text {
}
.right-page__forgot-link {
}
.right-page__login-wrapper {
}
.right-page__login-btn {
}
.right-page__signup-btn {
}
.right-join__text {
}
.right-join__link {
}
